/*Adding own css style to the 
preexsting Bootstrap styles*/


.jumbotron {
	background-color: transparent !important;
	color: black;
	position: relative;
	bottom: 500px;
	color: white;
}
.form-horizontal {
    margin-top: 40px;
}

#contact-btn {
    
    color:#1C70AA;
    text-align: center;
}

hr .noteLine {
    color: white;
}

.center-block {
    text-align: center;
    margin-top: 40px;
}

@media (min-width:768px) {

.jumbotron {
	bottom: 300px;
	
	}
