/*Adding own css style to the 
preexsting Bootstrap styles*/

/*Color Pallette

Text when white background
color: #1C70AA; like for the header name

text when dark blue background
color: 29A2F7;
To Replace the Orange background: 
color: #1C70AA;

;

*/

.bioLink a {
    color: black !important;

}